.photoList {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: 16px 0;
}

.photoList figure {
    margin: 0;
    width: 300px;
}

.photoList img {
    height: 169px;
    width: 300px;
}

.photoList figcaption {
    max-width: 100%;
    text-align: center;
    word-wrap: break-word;
}